.hp-collapse-transition {
    transition: .3s height cubic-bezier(0.17,0.34,0.44,1),
        .3s padding-top cubic-bezier(0.17,0.34,0.44,1),
        .3s padding-bottom cubic-bezier(0.17,0.34,0.44,1);

    &-leave-active, &-enter-active {
        transition: .3s max-height cubic-bezier(0.17,0.34,0.44,1),
        .3s padding-top cubic-bezier(0.17,0.34,0.44,1),
        .3s padding-bottom cubic-bezier(0.17,0.34,0.44,1);
    }
}

.hp-collapse-transition-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}
