.hp-row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-end;

    &.justify-center {
        justify-content: center;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.justify-space-around {
        justify-content: space-around;
    }

    &.justify-space-between {
        justify-content: space-between;
    }

    &.justify-space-evenly {
        justify-content: space-evenly;
    }

    &.align-center {
        align-items: center;
    }

    &.align-start {
        align-items: flex-start;
    }
}