@use 'mixin' as *;

.sub-nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0 32px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #fff;
    border-bottom: 1px solid var(--hp-color-border);
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    overflow: hidden;

    @media (max-width: 767px) {
        padding: 0 24px;
    }

    @include respond-to('lg') {
        display: none !important;
    }
}